* {
    box-sizing: border-box;
}

:root {
    --initial-border-color: #f2f2f2;
    --inactive-border-color: #bbb;
    --border-color: var(--initial-border-color);
    --grid-border-color: #efba40;
    --initial-element-hover-color: #fe5f5f;
    --element-hover-color: var(--initial-element-hover-color);
    --initial-background-color: #1e1b1b;
    --text-color: #f5f4f1;
    --x-color: #efba40;
    --o-color: #4d9fdd;
    /* --test1: #efba40;
    --test2: #4d9fdd; */
}

body {
    background-color: var(--initial-background-color);
    color: var(--text-color);
    text-align: center;
}

#title {
    font-size: 2.7em;
    margin-bottom: 1em;
}

.grid-container {
    --grid-width: 90%;
    --grid-max-width: 500px;

    font-family: 'Sour Gummy';
    width: var(--grid-width);
    max-width: var(--grid-max-width);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    aspect-ratio: 1 / 1;
    justify-self: center;
    gap: 1%;
    background-color: var(--grid-border-color);
}

.grid-container>.grid-container {
    --grid-width: 100%;
    gap: 0;
    font-size: 570%;
    text-align: center;
    align-content: center;
    background-color: var(--initial-background-color);
    padding: 5%;
}

.element {
    align-content: center;
    font-size: 31%;
}

.element:nth-child(9n + 5) {
    border: 3px solid var(--border-color);
}

.element:nth-child(9n + 2),
.element:nth-child(9n + 8) {
    border-left: 3px solid var(--border-color);
    border-right: 3px solid var(--border-color);
}

.element:nth-child(9n + 4),
.element:nth-child(9n + 6) {
    border-top: 3px solid var(--border-color);
    border-bottom: 3px solid var(--border-color);
}

.element:hover {
    background-color: #eee;
}


.active > .element {
    --border-color: var(--initial-border-color);
}

.active > .element:hover {
    background-color: #d3d3d3;
}

.grid-container>.marked {
    display: block;
}

.markX {
    color: var(--x-color);
}

.markO {
    color: var(--o-color);
}